h1 {
font-size:40px;
color:#000000;
font-weight:normal;
font-style: normal;
font-family: "Roboto medium";
}


h2 {
font-size:18px;
color:#000000;
font-weight:normal;
font-style:normal;
font-family:"Roboto Medium";
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

html, body, #map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-width: 900px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  color: #000;
}

.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  background-color: #eee;
}

.header-top {
  padding: 25px 0;
}

.header-bottom {
  padding: 25px 0 0;
}

.logo {
  float: left;
  max-width: 150px;
  margin-right: 140px;
}

.cart-link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: right;
  max-width: 150px;
  margin-left: 20px;
  margin-top: 33px;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.cart-link a {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}

.cart-link a:before {
  padding-right: 10px;
  color: #a6a6a6;
}

.cart-link a:hover,
.cart-link a:hover:before {
  color: #fb565a;
}


.main-navigation {
  float: left;
  display: block;
  width: 420px;
}

.menu {
  margin: 12px 0 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.menu li {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  margin-right: 24px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  padding: 10px;
  margin-top: 12px;
  font-size: 14px;
  line-height: 14px;
  color: #000;
  text-decoration: none;
  font-weight: 400;
}

.slider {
  position: relative;
  width: 880px;
  height: 310px;
  margin: 0 auto;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slider-controls i {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  background: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}


.products-row {
  padding: 80px 0;
  border-bottom: 2px solid #eee;
}

.products-item {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.products-item:last-child {
  margin-right: 0px;
}

.products-title {
  font-size: 18px;
  color: #000;
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: 500;
}

.products-text {
  font-size: 15px;
  margin-bottom: 30px;
  color: #283136;
}

.presentation {
  padding: 60px 0;
  border-bottom: 2px solid #eee;
}

.upper-row-text {
  float: left;
  width: 580px;
  margin-right: 40px;
}

.upper-row-text h1 {
  font-size: 36px;
  font-weight: 500;
  color: #000;
  line-height: 36px;
  margin: 0 0 15px;
}

.upper-row-text p {
  color: #283136;
  margin: 0;
}

.upper-row-logo {
  float: right;
}

.presentation-bottom-row {
  padding-top: 50px;
}

.partners {
  padding: 45px 0 35px;
  border-bottom: 2px solid #eee;
  text-align: center;
}

.partners-logo {
  width: 280px;
  display: inline-block;
  vertical-align: middle;
  opacity: .2;
  -webkit-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

.content-column-left {
  display: block;
  float: left;
  width: 240px;
}

.pricerange-filter {
  width: 240px;
  min-height: 170px;
  margin-bottom: 45px;
}

.pricerange-title {
  font-size: 18px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 50px 0 20px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 30px;
  background: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
}

.content-column-right {
  float: right;
}

.sort {
  width: 570px;
  display: block;
  margin-right: 0;
}

.sort ul {
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.sort li {
  display: inline-block;
  vertical-align: top;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-right: 38px;
}

.sort a {
  padding: 0;
  text-decoration: none;
  color: #ccc;
  outline: none;
}

.sort span {
  border-bottom: 1px dotted #00ca74;
}


.catalog-items {
  width: 570px;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.catalog-item {
  display: inline-block;
  width: 240px;
  height: 240px;
  margin: 0 80px 80px 0;
  border-top: 30px solid #f1f1f1;
  border-radius: 3px;
  position: relative;
  color: #000;
  vertical-align: top;
}

.catalog-item .info-box {
  position: absolute;
  top: 10%;
  left: 10%;
  margin: 0;
  width: 200px;
  height: 200px;
  background-color: #fff;
  text-align: center;
  display: none;
}

.content {
  display: block; padding: 30px 25px;
}

.content .title {
  margin: 0;
  padding-bottom: 20px;
  color: #000;
  font-size: 18px;
  line-height: 9px;
  font-weight: 400;
  text-transform: uppercase;
}

.content .description {
  font-size: 14px;
  line-height: 18px;
  color: #283136;
  margin: 0;
}

.paginator {
  width: 285px;
}

.paginator a,
.paginator span {
  display: inline-block;
  height: 20px;
  min-width: 20px;
  padding: 8px;
  border: 2px solid #f1f1f1;
  border-radius: 3px;
  vertical-align: middle;
  text-align: center;
  font-weight: bolder;
  font-size: 12px;
  line-height: 18px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-container {
  padding-top: 85px;
  position: relative;
}

.map {
  background: #f1f1f1 url("../img/map.png") no-repeat center top;
  width: 100%;
  height: 415px;
}

.adress-box {
  position: absolute;
  top: 30%;
  z-index: 1;
  width: 200px;
  height: 186px;
  background-color: #fff;
  text-align: left;
  padding: 30px 20px 20px 20px;
  margin: 0;
}

.adress-text {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.adress-text .title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000;
  margin: 0;
  padding-bottom: 20px;
}

.adress-text .adress {
  font-size: 16px;
  line-height: 20px;
  color: #666666;
  margin: 0;
  padding-bottom: 25px;
}

.adress-text .phone {
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  margin: 0;
}

.write-us {
  display: none;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -315px;
  width: 470px;
  min-height: 250px;
  padding: 50px 80px;
  background: #fff;
  box-shadow: 0 20px 35px #626363;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  z-index: 10;
}

.half-width {
  display: inline-block;
  vertical-align: inherit;
  margin-right: -2px;
  margin-bottom: 20px;
  width: 50%;
}

.footer-social {
  padding-top: 75px;
  padding-bottom: 70px;
}

.social-btn {
  float: left;
}

.social-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-btn li {
  vertical-align: middle;
  float: left;
  margin-right: 27px;
}

.social-btn li a {
  background-color: #e1e1e1;
}

.social-btn li a.btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  padding: 0;
}


