/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
 line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}


/*===============================
             FONTS
================================*/

@font-face {
  font-family: 'symbols-nerds';
  src: url('../font/symbols-nerds.eot?27841936');
  src: url('../font/symbols-nerds.eot?27841936#iefix') format('embedded-opentype'),
       url('../font/symbols-nerds.woff?27841936') format('woff'),
       url('../font/symbols-nerds.ttf?27841936') format('truetype'),
       url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  }
}
*/
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */;
}

.icon-basket:before {
  content: '\62';
} /* 'b' */
.icon-facebook:before {
  content: '\66';
} /* 'f' */
.icon-twitter:before {
  content: '\74';
} /* 't' */
.icon-vk:before {
  content: '\76';
} /* 'v' */
.icon-up-dir:before {
  content: '\25b2';
} /* '▲' */
.icon-down-dir:before {
  content: '\25bc';
} /* '▼' */
.icon-circle:before {
  content: '\25cb';
} /* '○' */
.icon-circle-dot:before {
  content: '\25cf';
} /* '●' */
.icon-check-off:before {
  content: '\2610';
} /* '☐' */
.icon-check-on:before {
  content: '\2611';
} /* '☑' */
.icon-instagramm:before {
  content: '📷';
} /* '\1f4f7' */


.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

html, body, #map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-width: 900px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  position: relative;
  font-family: 'Roboto', "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  color: #000;
}

.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
    display: inline-block;
    padding: 12px 10px;
    font-size: 12px;
    line-height: 12px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.btn:hover {
  background-color: #d6494d;
}

.btn:focus, .btn:active {
  background-color: #b63538;
  box-shadow: inset 0 3px 0 rgba(0,0,0,.15);
  outline: none;
}

.grey-btn {
  background: #f1f1f1;
  color: #000;
}

.grey-btn:hover {
  background: #e5e5e5;
}

.grey-btn:focus, .grey-btn:active {
  background: #d5d5d5;
}


/*======================================================================
                                HEADER
======================================================================*/

.main-header {
  background-color: #eee;
}

.header-top {
  padding: 25px 0;
}

    .header-bottom {
    padding: 15px 0 0;
}

.logo {
  float: left;
  max-width: 150px;
  margin-right: 140px;
}

.cart-link {
    position: relative;
    float: right;
    max-width: 150px;
    margin-top: 34px;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    margin-right: 3px;
    
}

.cart-link a {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}

.cart-link a:before {
  padding-right: 10px;
  color: #a6a6a6;
}

.cart-link a:hover,
.cart-link a:hover:before {
  color: #fb565a;
}

.cart-link a:active,
.cart-link a:focus,
.cart-link a:active:before,
.cart-link a:focus:before {
  color: #ababab;
}

/*===============================
            NAVIGATION
================================*/

.main-navigation {
    float: left;
    display: block;
    width: 420px;
   padding-left: 30px;
   padding-top: 2px;

 }

.menu {
  margin: 12px 0 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.menu li {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  margin-right: 24px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  margin-top: 12px;
  font-size: 14px;
  line-height: 14px;
  color: #000;
  text-decoration: none;
  font-weight: 400;
}

.menu .active {
  position: relative;
}

.menu .active:after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 10px;
  right: 10px;
  height: 2px;
  background-color: #fb565a;
}

.menu .active:hover {
  color: #000;
}

.menu a:hover {
  color: #fb565a;
}

.menu a:active {
  color: #ababab;
}

.header-menu-active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fb565a;
  left: 0;
  bottom: -5px;
}


/*===============================
             SLIDER
================================*/

.slider {
  position: relative;
  width: 880px;
  height: 310px;
  margin: 0 auto;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slider-controls i {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  background: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .active {
  background: #c1c1c1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide .btn {
    width: 220px;
}

.slide-text_one {
  width: 380px;
  padding: 30px 0;
  color: #283136;
}

.slide-text_two {
      width: 480px;
    padding: 65px 0;
    color: #283136;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}
  .slide-text_three {
        width: 480px;
    padding: 65px 0;
    color: #283136;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
  }

.slider__slide-h1 {
    font-size: 36px;
    line-height: 1;
    font-weight: 500;
    color: #000;
}

.slide p {
  margin-bottom: 30px;
}

.slide:nth-child(1) {
  background: url('../img/slider-bg-1.png') no-repeat right 10px;
}

.slide:nth-child(2) {
  background: url('../img/slider-bg-2.png') no-repeat right 10px;
}

.slide:nth-child(3) {
  background: url('../img/slider-bg-3.png') no-repeat right 10px;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  background: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}



/*============
  ITEM PAGE 
==============*/
.headline h2 {
 margin: 0;
  padding: 50px 0 70px;
  text-align: center;
  line-height: 100%;
  font-size: 40px;
  font-weight: 300;
}


  
  

/*===============================
            CATEGORY
================================*/

.products-row {
  padding: 80px 0;
  border-bottom: 2px solid #eee;
}

.products-item {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.products-item:last-child {
  margin-right: 0px;
}

.products-title {
    font-size: 18px;
    color: #000;
    margin-top: 21px;
    text-transform: uppercase;
    font-weight: 500;
}

.products-text {
    font-size: 15px;
    margin-bottom: 28px;
    color: #283136;
}

.products-item .btn {
    width: 120px;
}

.green-btn {
  background-color: #00ca74;
}

.green-btn:hover {
  background-color: #01a25e;
}

.green-btn:focus, .green-btn:active {
  background-color: #009053;
  box-shadow: inset 0 3px 0 rgba(0,0,0,.15);
}

.yellow-btn {
  background-color: #efc84a;
}

.yellow-btn:hover {
  background-color: #d6ae2c;
}

.yellow-btn:focus, .yellow-btn:active {
  background-color: #c09b24;
  box-shadow: inset 0 3px 0 rgba(0,0,0,.15);
}

/*===============================
            PRESENTATION
================================*/

.presentation {
    padding: 60px 0;
    border-bottom: 2px solid #eee;
}

.upper-row-text {
    display: block;
    float: left;
    width: 580px;
    margin-right: 40px;
    padding-top: 10px;
}

.upper-row-text h1 {
  font-size: 36px;
  font-weight: 500;
  color: #000;
  line-height: 36px;
  margin: 0 0 15px;
}

.upper-row-text p {
    color: #283136;
    margin: 0;
    padding-top: 2px;
    }

.upper-row-logo {
  display: block;
  float: right;
}

.presentation-bottom-row {
    padding-top: 46px;
}


.strenghts-left {
  float: left;
  width: 460px;
}

.strenghts-title {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
  color: #283136;
}

.strenghts-right {
  float: right;
  width: 240px;
  margin-right: 0px;
}

.list-style {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-style li {
    color: #283136;
    padding-left: 37px;
    margin: 19px 0;
    position: relative;
}

.list-style li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  width: 25px;
  height: 2px;
  background: #fb565a;
}
/*===============================
            PARTNERS
================================*/

.partners {
    display: block;
    padding: 38px 0 29px;
    border-bottom: 2px solid #eee;
    text-align: center;
}

.partners-logo {
    width: 280px;
    display: inline-block;
    vertical-align: middle;
    opacity: .2;
    -webkit-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    padding-right: 5px;
}

.partners-logo:first-child {
  text-align: left;
}

.partners-logo:last-child {
  text-align: right;
}

.partners-logo:hover {
  opacity: 1;
}

.partners-logo:last-child {
  margin-right: 0px;
}
/*======================================================================
                                CONTENT ITEM PAGE
======================================================================*/
.content-column-left {
    display: block;
    float: left;
    width: 240px;
    padding-top: 30px;
}
/*===============================
            PRICERANGE FILTER
================================*/
.pricerange-filter {
  display: block;
  width: 240px;
  min-height: 170px;
  margin-bottom: 45px;
}

.pricerange-title {
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 50px 0 20px;
    padding-bottom: 7px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 30px;
  background: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 39px;
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .max-toggle {
  left: 145px;
}

.price-controls {
  position: relative;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.max-price {
  position: absolute;
  top: 0;
  right: 0;
}

.price-controls input {
  width: 60px;
  padding: 7px 10px;
  margin-left: 10px;
  border: none;
  background: #f1f1f1;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #283136;
  border-radius: 5px;
}

input {
  line-height: normal;

}

input:focus {
	outline: none 
}
/*===============================
      RADIO AND CHECKBOX BTNS
================================*/


.radio-btn ul,
.checkbox-btn ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.radio-btn li,
.checkbox-btn li {
  margin-bottom: 15px;
}

.checkbox-btn label {
  cursor: pointer;
}

.checkbox-btn span {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 30px;
}

.checkbox-btn span:before {
  content: '\2610';
  font-family: "symbols-nerds";
  color: #c1c1c1;
  font-size: 26px;
  vertical-align: middle;
}

.checkbox-btn input:checked + label span:before {
  content: '\2611';
}

.checkbox-btn input:disabled + label {
  color: #eaeaea;
}

.checkbox-btn input:disabled + label span:before {
  color: #eaeaea;
}

.checkbox-btn input[type=checkbox] {
  display: none;
}

.radio-btn label {
  cursor: pointer;
}

.radio-btn span {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 30px;
}

.radio-btn span:before {
  content: '\25cb';
  font-family: "symbols-nerds";
  color: #c1c1c1;
  font-size: 26px;
  vertical-align: middle;
}

.radio-btn input:checked + label span:before {
  content: '\25cf';
}

.radio-btn input:disabled + label {
  color: #eaeaea;
}

.radio-btn input:disabled + label span:before {
  color: #eaeaea;
}

.radio-btn input[type=radio] {
  display: none;
}

.pricerange-filter .grey-btn {
  width: 150px;
  margin-top: 50px;
  font-weight: bolder;
}

/*===============================
            SORT BY
================================*/

.content-column-right {
  float: right;
}

.sort {
    width: 570px;
    display: block;
    margin-right: 0;
    padding-top: 60px;
}

.sort ul {
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    margin-left: 9px;
}

.sort li {
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-right: 37px;
        padding-top: 2px;
}
.sort a {
  display: block;
  padding: 0;
  text-decoration: none;
  color: #ccc;
  outline: none;
}

.sort span {
  border-bottom: 1px dotted #00ca74;
}

.sort span:hover {
  color: #000;
  border-bottom: 1px solid #00ca74;
}

.sort .btn-up,
.sort .btn-down {
  position: relative;
  font: 0/0 a;
  text-shadow: none;
  background: green;
  margin-right: 5px;
}

.btn-up:before {
  content: "";
  position: absolute;
  right: -75px;
  top: 0px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #00ca74;
}

.btn-down:before {
  content: "";
  position: absolute;
  top: 0px;
  right: -45px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #ccc;
}

/*===============================
            CATALOG
================================*/
.catalog-items {
  width: 570px;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.catalog-item {
  display: inline-block;
  width: 240px;
  height: 240px;
  margin: 0 80px 80px 0;
  border-top: 30px solid #f1f1f1;
  border-radius: 3px;
  position: relative;
  color: #000;
  vertical-align: top;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:before {
  content: "";
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 17px 0 0 #fff,34px 0 0 #fff;
  position: absolute;
  left: 12px;
  top: -20px;
}

.catalog-item:hover {
  border-color: #797979;
}

.catalog-item .info-box {
  display: block;
  position: absolute;
  top: 10%;
  left: 10%;
  margin: 0;
  width: 200px;
  height: 200px;
  background-color: #fff;
  text-align: center;
  display: none;
}

.catalog-item:hover .info-box {
  display: block;
}

.content {
  display: block;
  padding: 30px 25px;
}

.content .title {
  margin: 0;
  padding-bottom: 20px;
  color: #000;
  font-size: 18px;
  line-height: 9px;
  font-weight: 400;
  text-transform: uppercase;
}

.content .description {
  font-size: 14px;
  line-height: 18px;
  color: #283136;
  margin: 0;
}

.price-btn {
  display: block;
  margin-top: 30px;
  font-size: 18px;
}


/*===============================
            PAGINATOR
================================*/
.paginator {
  width: 285px;
}

.paginator a,
.paginator span {
  display: inline-block;
  height: 20px;
  min-width: 20px;
  padding: 8px;
  border: 2px solid #f1f1f1;
  border-radius: 3px;
  vertical-align: middle;
  text-align: center;
  font-weight: bolder;
  font-size: 12px;
  line-height: 18px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

  .paginator .current {
    background: #ffffff;
    margin: 3px;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
}
}

.paginator a:hover {
  background: #e5e5e5;
  border: 2px solid #e5e5e5;
}

.paginator a:active {
  background: #d5d5d5;
  border: 2px solid #e5e5e5;
  color: #000;
  -webkit-box-shadow: inset 0 3px 0 0 #b5b5b5;
  -moz-box-shadow: inset 0 3px 0 0 #b5b5b5;
  box-shadow: inset 0 3px 0 0 #b5b5b5;
}

/*======================================================================
                                FOOTER
======================================================================*/

.footer-container {
  padding-top: 85px;
  position: relative;
}

.map {
  background: #f1f1f1 url("../img/map.png") no-repeat center top;
  width: 100%;
  height: 415px;
}

.map::after {
  content: '';
  display: table;
  clear: both;
}

#map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/*===============================
            ADRESS
================================*/
    .adress-box {
    display: block;
    position: absolute;
    top: 30%;
    z-index: 1;
    width: 200px;
    height: 200px;
    background-color: #fff;
    text-align: left;
    padding: 40px 29px 0px 20px;
    margin: 0;
}
}

.adress-text {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.adress-text .title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000;
  margin: 0;
  padding-bottom: 20px;
}

.adress-text .adress {
  font-size: 16px;
  line-height: 20px;
  color: #666666;
  margin: 0;
  padding-bottom: 25px;
}

.adress-text .phone {
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  margin: 0;
}

.adress-box .btn {
    display: block;
    margin-bottom: 0px;
    margin-top: 30px;
    width: 185px;
}

/*===============================
            WRITE US FORM
================================*/

@-webkit-keyframes login-open {
  0% {
    -webkit-transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes login-open {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.write-us {
  display: none;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -315px;
  width: 470px;
  min-height: 250px;
  padding: 50px 80px;
  background: #fff;
  box-shadow: 0 20px 35px #626363;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  z-index: 10;
}

.half-width {
  display: inline-block;
  vertical-align: inherit;
  margin-right: -2px;
  margin-bottom: 20px;
  width: 50%;
}

label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  display: block;
  width: 186px;
  padding: 7px 15px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
}

.contact-form textarea {
  width: 90%;
  margin-bottom: 40px;
}

.contact-form input[type="text"]:hover,
.contact-form input[type="email"]:hover,
.contact-form textarea:hover {
  border: 2px solid #a2a9ac;
}

.contact-form input[type="text"]:active,
.contact-form input[type="email"]:active,
.contact-form textarea:active {
  border: 2px solid #56bffb;
}

.form-submit-btn,
.form-esc-btn {
  display: inline-block;
  vertical-align: inherit;
  border: none;
  width: 220px;
  margin-right: 15px;
  font-weight: 400;
}

.form-esc-btn {
  margin-right: 0;
  background: #f1f1f1;
  color: #000;
}

.form-esc-btn:hover {
  background: #e5e5e5;
}

.form-esc-btn:active {
  background: #d5d5d5;
  color: #b5b5b5;
  -webkit-box-shadow: inset 0 3px 0 0 #b5b5b5;
  -moz-box-shadow: inset 0 3px 0 0 #b5b5b5;
  box-shadow: inset 0 3px 0 0 #b5b5b5;
}

.write-us-show {
  display: block;
  -webkit-animation: login-open 0.4s;
  animation: login-open 0.4s;
}

.login-popup-error {
  -webkit-animation: login-error 0.6s;
  animation: login-error 0.6s;
}

.form-close {
  display: block;
  width: 42px;
  height: 42px;
  background: #fb565a;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 5px;
  text-indent: -9999px;
  border: 1px solid #fb565a;
  transform: rotate(45deg);
}

.form-close::after, .form-close::before {
  content: "";
  width: 26px;
  height: 6px;
  margin: -3px 0 0 -13px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
}

.form-close::after {
  transform: rotate(90deg);
}


/*===============================
            FOOTER-SOCIAL
================================*/
.footer-social {
  padding-top: 75px;
  padding-bottom: 70px;
}

.social-btn {
  float: left;
}

    .social-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 1px;
    padding-left: 8px;
}

.social-btn li {
  display: block;
  vertical-align: middle;
  float: left;
  margin-right: 25px;
}

.social-btn li a {
  background-color: #e1e1e1;
}

.social-btn li a.btn {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  padding: 0;
}

.social-btn li a:last-child {
  margin-right: 0;
}

.social-text {
  float: right;
  display: inline-block;
  vertical-align: inherit;
  margin-right: 0;
}

.social-text h2 {
    font-size: 36px;
    line-height: 1;
    color: #000;
    margin: 0 0 10px;
    font-weight: 500;
    margin-right: 30px;
}

.social-text p {
    text-align: left;
    color: #283136;
    margin-top: 0;
  
}
























































































































}
