body {
font-size:16px;
color: #000;
font-weight:normal;
font-style:normal;
font-family: 'Roboto',sans-serif;
}


h1 {
font-size:40px;
color:#000000;
font-weight:normal;
font-style: normal;
font-family: "Roboto medium";
}


h2 {
font-size:18px;
color:#000000;
font-weight:normal;
font-style:normal;
font-family:"Roboto Medium";
}


html, body,  {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
}


.clearfix:before,
.clearfix:after {
content: "";
display: table;
}


.clearfix:after {
clear: both;
}


.clearfix {
zoom: 1;
}


.container {
width: 880px;
margin: 0 auto;
padding: 0 10px;
}


.main-header {
background-color: #eee;
}


.header-top {
padding: 25px 0;
}


.header-bottom {
padding: 25px 0 0;
}


.logo {
float: left;
max-width: 150px;
margin-right: 140px;
}


.cart-link {
position: relative;
display: inline-block;
vertical-align: middle;
float: right;
max-width: 150px;
margin-left: 20px;
margin-top: 33px;
padding: 0;
font-size: 14px;
line-height: 14px;
text-transform: uppercase;
}


.main-navigation {
float: left;
display: block;
width: 420px;
}


.menu {
margin: 12px 0 0;
padding: 0;
list-style: none;
font-size: 0;
}


.slider {
position: relative;
width: 880px;
height: 310px;
margin: 0 auto;
}


.headline h2 {
margin: 0;
padding: 50px 0 70px;
text-align: center;
line-height: 100%;
font-size: 40px;
font-weight: 300;
}


.products-row {
padding: 80px 0;
border-bottom: 2px solid #eee;
}


.products-item {
float: left;
width: 240px;
margin-right: 80px;
}


.presentation {
padding: 60px 0;
border-bottom: 2px solid #eee;
}


.partners {
display: block;
padding: 45px 0 35px;
border-bottom: 2px solid #eee;
text-align: center;
}


.partners-logo {
width: 280px;
display: inline-block;
vertical-align: middle;
}


.content-column-left {
display: block;
float: left;
width: 240px;
}


.pricerange-filter {
display: block;
width: 240px;
min-height: 170px;
margin-bottom: 45px;
.content-column-right {
float: right;
}


.sort {
width: 570px;
display: block;
margin-right: 0;
}


.catalog-items {
width: 570px;
margin: 0;
padding: 0;
font-size: 0;
}


.catalog-item {
display: inline-block;
width: 240px;
height: 240px;
margin: 0 80px 80px 0;
border-top: 30px solid #f1f1f1;
border-radius: 3px;
position: relative;
color: #000;
vertical-align: top;
}


.paginator {
width: 285px;
}


.footer-container {
padding-top: 85px;
position: relative;
}


.adress-box {
display: block;
position: absolute;
top: 30%;
}


.footer-social {
padding-top: 75px;
padding-bottom: 70px;
}